* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #152938;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hidden {
  display: none;
}

#menu h1 {
  text-align: center;
}

.card {
  background: #fff;
  color: #152938;
  padding: 25px;
  border-radius: 15px;
  width: 320px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: #bcced9;
  transition: 0.3s;
}

button.active {
  background: #304859;
  color: #fff;
}

#start {
  background: orange;
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}

#board {
  display: grid;
  gap: 10px;
  margin-top: 20px;
}

.card-item {
  background: #304859;
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 70px;
}

.card-item.open {
  background: orange;
}
